<div class="card">
  <div class="card-header alert-primary">Add new tool</div>
  <div class="card-body">
    <div class="row">

     <div class="form-group">
        <label for="Application">Application</label>
        <select class="form-control" id="Application">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Tool">Tool</label>
        <select class="form-control" id="Tool">
          <option>1</option>
          <option>2</option>

        </select>
      </div>


      <div class="form-group">
        <label for="# tool"># tool</label>
        <select class="form-control" id="# tool">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group" >
        <label for="Holder">Holder</label>
        <select class="form-control" id="Holder">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Multi Master">Multi Master</label>
        <select class="form-control" id="Multi Master">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Collet">Collet</label>
        <select class="form-control" id="Collet">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Shrink">Shrink</label>
        <select class="form-control" id="Shrink">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Str shank">Str shank</label>
        <select class="form-control" id="Str shank">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

  </div>
  </div>
  <div class="card-footer">
  <button class="btn btn-primary">Add to list</button>
  </div>
</div>
