<div class="card">
  <div class="card-header alert-primary">Enter basic data</div>
  <div class="card-body">
    <div class="row">

      <form>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="DMS">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Revision">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Coolant">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Lathe programm">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Design">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Approve">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Date">
          </div>
        </div>
      </form>

      <div class="form-group">
        <label for="Material">Material</label>
        <select class="form-control" id="Material">
          <option>1</option>
          <option>2</option>

        </select>
      </div>

      <div class="form-group">
        <label for="Block">Block</label>
        <select class="form-control" id="Block">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Position in block">Position in block</label>
        <select class="form-control" id="Position in block">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Operation">Operation</label>
        <select class="form-control" id="Operation">
          <option>4700</option>
          <option>4205</option>

        </select>
      </div>

      <div class="form-group">
        <label for="Fixture">Fixture</label>
        <select class="form-control" id="Fixture">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Machine">Machine</label>
        <select class="form-control" id="Machine">
          <option>Okuma LT</option>
          <option>DMG</option>
          <option>Haas</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Airfoil">Airfoil type</label>
        <select class="form-control" id="Airfoil">
          <option>VARIABLE VANS</option>
          <option>AXIAL ROTOR STRIGHT NECK</option>
          <option>3</option>
        </select>
      </div>


    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary">Add to list</button>
  </div>
</div>
